<div class="root dlg-backdrop" [class.back-drop]="showBackdrop" (click)="backdropClick($event)">
  <div class="dlg" [class.anim-in]="open" [class.anim-out]="!open" #dlg>
    <div class="title">
      <span class="text">{{options.title}}</span>
      <span class="close-btn" *ngIf="options.enableClose()" (click)="close()">X</span>
    </div>
    <div class="content">
      <ng-container #content></ng-container>
    </div>
    <div class="btns">
      <ng-container *ngFor="let btn of options.buttons">
        <button (click)="buttonClick($event, btn)">{{btn.label}}</button>
      </ng-container>
    </div>
  </div>
</div>
